<app-sidenav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white"
  id="sidenav-main"></app-sidenav>

  <div class="main-content" id="panel">
    <app-topnav class="navbar navbar-top navbar-expand navbar-dark bg-purple border-bottom"></app-topnav>

    <div class="header bg-dark mb-3" style="height: 4px;"><app-header></app-header></div>

    <div class="container-fluid">

    <router-outlet></router-outlet>

    <app-footer class="footer pt-0" style="display: block;"></app-footer>
  </div>

</div>
