
    <div class="card">
      <div class="card-header border-0">
        <div class="row">
          <div class="col-6">
            <h3 class="mb-0 list-header float-left mr-2">Customers</h3>
            <a type="button" class="btn btn-success btn-icon-only rounded-circle btn-lg add-button mt-1" (click)="onAddNew()" tooltip="Add new customer">
              <span class="btn-inner--icon"><i class="ni ni-fat-add text-white"></i></span>
            </a>   
          </div>
          <div class="col-6 text-right">
            <div class="input-group">   
              <input type="search" class="form-control" placeholder="Search by Name, Keyword, Role" [(ngModel)]="searchTerm" />
              <div class="input-group-append">
                <button type="submit" class="btn btn-outline-primary" tooltip="Search" (click)="onSearch()" icon-button [busy]="busy" [icon-css-class]="'fa-search'"></button>
              </div>
            </div>            
          </div>
        </div>
      </div>

      <div class="table-responsive">
    
        <table class="table table-hover align-items-center table-flush table-striped">
          <thead class="thead-light">
            <tr>  
              <th scope="col">Title</th>
              <th scope="col">FirstName</th>
              <th scope="col">LastName</th>
              <th scope="col">CompanyName</th>
              <th scope="col">EmailAddress</th>
              <th scope="col">Phone</th>  
              <th scope="col" style="width: 70px">Edit</th> 
            </tr>
          </thead>

          <tbody class="list" table-shimmer *ngIf="busy" [cols]="7" [rows]="10"></tbody>

          <tbody class="list" *ngIf="!busy">            
            <tr *ngIf="customers.length == 0">
              <td colspan="7">There are no customers created. Please use Add (+) button to add.</td>
            </tr>

            <tr *ngFor="let customer of customers">             
              <td>{{ customer.title }} {{ customer.suffix }}</td> 
              <td>{{ customer.firstName }}</td> 
              <td>{{ customer.lastName }}</td> 
              <td>{{ customer.companyName }}</td> 
              <td>{{ customer.emailAddress }}</td> 
              <td>{{ customer.phone }}</td>   
              <td class="text-center">

                <button (click)="onEdit(customer)" type="button" rel="tooltip" tooltip="Edit" class="btn btn-secondary btn-icon btn-sm mr-0">
                  <i class="fas fa-pencil-alt"></i>
                </button>

              </td>          
            </tr>
            
          </tbody>
        </table>
      </div>

      <div class="card-footer py-4">
        <pagination previousText="&lsaquo;"
                    nextText="&rsaquo;" 
                    firstText="&laquo;" 
                    lastText="&raquo;"
                    [totalItems]="totalItems"
                    [itemsPerPage]="itemsPerPage"
                    [(ngModel)]="page" 
                    [maxSize]="10"
                    [boundaryLinks]="true"
                    (pageChanged)="onPageChanged($event)"></pagination>
      </div>
    </div>


