
    <div class="card">
      <div class="card-header border-0">
        <div class="row">
          <div class="col-6">
            <h3 class="mb-0 list-header float-left mr-2">Sales orders</h3>
            <a type="button" class="btn btn-success btn-icon-only rounded-circle btn-lg add-button mt-1" (click)="onAddNew()" tooltip="Add new customer">
              <span class="btn-inner--icon"><i class="ni ni-fat-add text-white"></i></span>
            </a>   
          </div>
          <div class="col-6 text-right">
            <div class="input-group">   
              <input type="search" class="form-control" placeholder="Search by Order number" [(ngModel)]="searchTerm" />
              <div class="input-group-append">
                <button type="submit" class="btn btn-outline-primary" tooltip="Search" (click)="onSearch()" icon-button [busy]="busy" [icon-css-class]="'fa-search'"></button>
              </div>
            </div>            
          </div>
        </div>
      </div>

      <div class="table-responsive">
    
        <table class="table table-hover align-items-center table-flush table-striped">
          <thead class="thead-light">
            <tr>  
              <th scope="col">Sales Order #</th>
              <th scope="col">Order date</th>
              <th scope="col">Due date</th>
              <th scope="col">Customer</th>  
              <th scope="col">Billing Address</th>              
              <th scope="col">Ship date</th>     
              <th scope="col">Ship to Address</th>         
              <th scope="col" class="text-right">Sub total</th>         
              <th scope="col" style="width: 70px">Edit</th> 
            </tr>
          </thead>

          <tbody class="list" table-shimmer *ngIf="busy" [cols]="10" [rows]="10"></tbody>

          <tbody class="list" *ngIf="!busy">            
            <tr *ngIf="orders.length == 0">
              <td colspan="10">There are no order created. Please use Add (+) button to add.</td>
            </tr>

            <tr *ngFor="let order of orders">   
              <td>{{ order.salesOrderNumber }}</td>                
              <td>{{ order.orderDate | date: 'y MMM d' }}</td> 
              <td>{{ order.dueDate | date: 'y MMM d' }}</td>             
              <td><strong>{{ order.customer?.companyName }}</strong><br />{{ order.customer?.firstName }} {{ order.customer?.lastName }}</td>                       
              <td>
                {{ order?.billToAddress?.addressLine1 }} {{ order?.billToAddress?.addressLine2 }}<br />
                {{ order?.billToAddress?.city }}<br />
                {{ order?.billToAddress?.stateProvince }} {{ order?.billToAddress?.postalCode }}<br />
                {{ order?.billToAddress?.countryRegion }}
              </td>                            
              <td>{{ order.shipDate | date: 'y MMM d' }}</td> 
              <td>
                {{ order?.shipToAddress?.addressLine1 }} {{ order?.shipToAddress?.addressLine2 }}<br />
                {{ order?.shipToAddress?.city }}<br />
                {{ order?.shipToAddress?.stateProvince }} {{ order?.shipToAddress?.postalCode }}<br />
                {{ order?.shipToAddress?.countryRegion }}
              </td>
              <td class="text-right">{{ order.subTotal | currency }}</td> 
              <td class="text-center">

                <button (click)="onEdit(order)" type="button" rel="tooltip" tooltip="Edit" class="btn btn-secondary btn-icon btn-sm mr-0">
                  <i class="fas fa-pencil-alt"></i>
                </button>

              </td>          
            </tr>
            
          </tbody>
        </table>
      </div>

      <div class="card-footer py-4">
        <pagination previousText="&lsaquo;"
                    nextText="&rsaquo;" 
                    firstText="&laquo;" 
                    lastText="&raquo;"
                    [totalItems]="totalItems"
                    [itemsPerPage]="itemsPerPage"
                    [(ngModel)]="page" 
                    [maxSize]="10"
                    [boundaryLinks]="true"
                    (pageChanged)="onPageChanged($event)"></pagination>
      </div>
    </div>


